<div class="navbar-header pull-left profile-navbar-section">
    <div class="row" layout-align="center">
        <div class="profile-navbar-avatar col-md-4">
            @{
                var imageSource = "/Content/default_avatar.png";
                var logged = Session.GetUser();
                if (logged.Picture != null && logged.Picture.Data != null)
                {
                    var base64 = Convert.ToBase64String(logged.Picture.Data);
                    imageSource = String.Format("data:image/jpg+png;base64,{0}", base64);
                }
            }
            <a href="#" onclick="window.AIV.click('#navbar-picture-upload')">
                <img id="navbar-profile-preview" src="@imageSource" />
            </a>

            @using (Html.BeginForm("ChangePicture", "Users", null, FormMethod.Post, new { name = "navbar_form_picture", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <input name="userId" type="hidden" value="@Session.GetUser().Id" />
                <input name="picture" id="navbar-picture-upload" type="file" style="display: none;" 
                       onchange="window.AIV.previewAndSubmitOnFileChange(this, 'navbar_form_picture', '#navbar-profile-preview')" />
            }
        </div>
        <div class="text-left col-md-4">
            <a href="/Users/Details/@Session.GetUser().Id">
                <h5 class="username">
                    @Session.GetUser().Name
                </h5>
            </a>
        </div>
        <div class="profile-navbar-avatar logout-btn col-md-4" layout-align="bottom">
            <a href="/Account/LogOff" class="btn btn-dark btn-sm btn-round-lg pull-right">
                <i class="glyphicon glyphicon-log-out">
                    <!--<img src="https://cdn4.iconfinder.com/data/icons/basic-ui-elements/700/012_power-512.png" />-->
                </i>
            </a>
        </div>
    </div>
</div>