
.logobg {
    background-image: url(http://www.aiv01.it/images/LogoAIV.png);
    background-repeat: no-repeat;
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body {
    background: none;
    
    /* 
    BACKGROUND AIV! 
    background: url(http://www.aiv01.it/images/BGcorsi.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    */
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 48px;
    overflow: hidden;
    overflow-x: auto;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}*/

hr {
    margin-top: 10px;
}

footer {
    margin-top: 16px;
}

a:hover {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

.title-margin {
    margin-top: 20px;
    margin-bottom: 10px;
}

.icon-right {
    margin-left: 10px;
}

.icon-left {
    margin-right: 4px;
}

.picture-wrapper {
    overflow: hidden;
    align-items: center;
}

.picture-wrapper > img {
    height: 100%;
    max-height: 256px;
}

.logo-wrapper > img {
    height: 100%;
    max-height: 100%;
}

.picture-wrapper > img:hover {
    cursor: pointer;
}


button.btn-primary > * {
    color: #ffffff;
}

button a {
    color: inherit;
}

.action-button {
    margin: 2px;
}

.checkbox .bootstrap-switch.bootstrap-switch-disabled,
.checkbox .bootstrap-switch.bootstrap-switch-disabled *,
.checkbox .bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-off, 
.checkbox .bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-on, 
.checkbox .bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-label, 
.checkbox .bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-off, 
.checkbox .bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-on, 
.checkbox .bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-label, 
.checkbox .bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-off, 
.checkbox .bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-on, 
.checkbox .bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-label {
    cursor: not-allowed !important;
}

.navbar {
    background: url(http://www.aiv01.it/images/BGcorsi.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
}

body .navbar-inverse .navbar-nav > .active > a, 
body .navbar-inverse .navbar-nav a:hover, 
body .navbar-inverse .navbar-nav a:focus {
    background: none !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

body .navbar.navbar-inverse.navbar-fixed-top > .container {
    background: url(http://www.aiv01.it/images/LogoAIV.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 2% 50%;
    padding-left: 150px;
}

body .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #eeeeee;
}

.btn-default.text-primary, 
.btn-default.text-primary * {
    color: #428bca;
}

.btn-default.text-danger, 
.btn-default.text-danger * {
    color: #b94a48;
}

/* FLEXBOX */

*[flex]{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
}

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.row-title {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}

.row-title .title {
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
}

form .row {
    margin-bottom: 8px;
}

form .row input[type='submit'][type='button'] {
    width: auto;
    max-width: none;
}

form .row.row-submit {
    margin-top: 24px;
}

[layout-align='center'] {
    align-items: center;
}

[layout-align='center center'] {
    align-items: center center;
}

[layout-align='bottom'] {
    align-items: flex-end;
}

[layout-align='center bottom'] {
    align-items: center flex-end;
}

/* MATERIAL CARDS */

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  height: 100%;
}

.card-image {
    background-color: #eeeeee;
}

.card-image .picture-wrapper {
    height: 256px;
}

.card-image img {
    width: 100%;
    position: relative;
    left: 50%;
    top: 40%;
    height: auto;
    max-height: none;
    transform: translateY(-40%) translateX(-50%);
    -webkit-transform: translateY(-40%) translateX(-50%);
    -moz-transform: translateY(-40%) translateX(-50%);
    -ms-transform: translateY(-40%) translateX(-50%);
}

.card-image .card-quote {
    background-color: #000000;
    color: #eeeeee;
    padding: 8px;
}

.card-content {
  padding: 32px;
}

.card-content .section-title {
    padding-bottom: 8px;
    border-bottom: 1px solid #eeeeee;
}

.card-content section {
    margin-bottom: 8px;
}