
*{
    outline: 0 !important;
    outline: none !important;
}

.logobg {
    background-image: url(http://www.aiv01.it/images/LogoAIV.png);
    background-size: contain;
    background-repeat: no-repeat;
}

html {
    background: url(http://www.aiv01.it/galleries/10.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body {
    background: white;
    
    /* 
    BACKGROUND AIV! 
    background: url(http://www.aiv01.it/images/BGcorsi.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    */
}

body.login {
    background: url(http://www.aiv01.it/galleries/10.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 48px;
    overflow: hidden;
    overflow-x: auto;
}

.body-content.login {
    height: 100%;
}

.table-actions {
    min-width : 138px;
}

.table thead > tr > th, 
.table tbody > tr > th, 
.table tfoot > tr > th, 
.table thead > tr > td, 
.table tbody > tr > td, 
.table tfoot > tr > td {
    vertical-align: middle;
}

.validation-summary-errors {
    text-align: right;
    border-radius: 16px;
    margin-bottom: 8px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.8);
}

.validation-summary-errors ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.login-panel {
    padding: 32px;
    border: 1px solid #eee;
    border-radius: 22px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: 16px;
    color: white;
    width: 560px;
}

.login-panel hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-panel h2, 
.login-panel h4, 
.login-panel label {
    text-shadow: 0px 0px 8px #000;
    font-weight: 200 !important;
}

.login-panel input, 
.login-panel hr {
    box-shadow: 0px 0px 8px #111;
}

.body-content.login > .row {
    height: 100%;
    align-items: center;
}

.margin-right-10{
    margin-right: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}*/

hr {
    margin-top: 10px;
}

footer {
    margin-top: 16px;
}

a:hover {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.middle {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

.title-margin {
    margin-top: 20px;
    margin-bottom: 10px;
}

.icon-right {
    margin-left: 10px;
}

.icon-left {
    margin-right: 4px;
}

.picture-wrapper {
    overflow: hidden;
    align-items: center;
    background: #000000;
}

.picture-wrapper > img {
    height: 100%;
    max-height: 256px;
}

.logo-wrapper > img {
    height: 100%;
    max-height: 100%;
}

.picture-wrapper > img:hover {
    cursor: pointer;
}


button.btn-primary > * {
    color: #ffffff;
}

button a {
    color: inherit;
}

.action-button {
    margin: 2px;
}

.checkbox .bootstrap-switch.bootstrap-switch-disabled,
.checkbox .bootstrap-switch.bootstrap-switch-disabled *,
.checkbox .bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-off, 
.checkbox .bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-on, 
.checkbox .bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-label, 
.checkbox .bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-off, 
.checkbox .bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-on, 
.checkbox .bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-label, 
.checkbox .bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-off, 
.checkbox .bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-on, 
.checkbox .bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-label {
    cursor: not-allowed !important;
}

.navbar navbar-inverse navbar-fixed-top > .container,
.container.body-content {
    max-width: 80%;
}

.navbar, .navbar-collapse {
    background: url(http://www.aiv01.it/images/BGcorsi.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50%;
    background-size: cover;
}

.navbar-collapse {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    position: fixed;
    right: 0px;
    top: 46px;
    z-index: 1029;
    border-top: 0px;
    padding:20px;
    box-shadow: none;
}

.navbar-toggle {
    margin-right: 0px;
}

.profile-navbar-section {
    margin-left: 0 !important;
    height: 50px;
    min-height: 50px;
    min-width:18%;
    background: rgba(255, 255, 255, 0.3);
    overflow-x: hidden;
    overflow-y: hidden;
}

.profile-navbar-section .row {
    padding: 0;
    margin: 0;
    height:100%;
}

.profile-navbar-section *[class*='col-']  {
    padding: 0;
    margin: 0;
}

.fill-height {
    height: 100%;
}

.profile-navbar-section .username  {
    color: #eeeeee;
    padding-right: 8px;
    padding-left: 8px;
}

.profile-navbar-avatar img,
img.table-list-avatar {
    height: 40px;
    width: 40px;
    border-radius: 22px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    margin:4px;
    border: 1px solid lightslategray;
}

img.table-list-avatar.small {
    margin: 4px 0px;
    box-shadow: none;
}

.profile-navbar-avatar.logout-btn img{
    height: 24px;
    width: 24px;
    border-radius: 20px;
}

body .navbar-inverse .navbar-nav > .active > a, 
body .navbar-inverse .navbar-nav a:hover, 
body .navbar-inverse .navbar-nav a:focus {
    background: none !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

body .navbar.navbar-inverse.navbar-fixed-top > .container {
    background: url(http://www.aiv01.it/images/LogoAIV.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

body .navbar .navbar-header {
    padding-left: 8px;
    padding-right: 8px;
}

body .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #eeeeee;
}

body .navbar .navbar-nav {
    padding: 10%;
}

.btn-default.text-primary, 
.btn-default.text-primary * {
    color: #428bca;
}

.btn-default.text-danger, 
.btn-default.text-danger * {
    color: #b94a48;
}

.btn-round-lg{
    border-radius: 22.5px;
}
.btn-round{
    border-radius: 17px;
}
.btn-round-sm{
    border-radius: 15px;
}
.btn-round-xs{
    border-radius: 11px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-dark {
  background-color: #181c1f;
  border-color: #181c1f;
  color: #dddddd;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active {
  background-color: #0d0f11;
  border-color: #020202;
  color: #eeeeee;
}
.btn-dark.disabled:hover,
.btn-dark.disabled:focus,
.btn-dark.disabled:active,
.btn-dark.disabled.active,
.btn-dark[disabled]:hover,
.btn-dark[disabled]:focus,
.btn-dark[disabled]:active,
.btn-dark[disabled].active,
fieldset[disabled] .btn-dark:hover,
fieldset[disabled] .btn-dark:focus,
fieldset[disabled] .btn-dark:active,
fieldset[disabled] .btn-dark.active {
  background-color: #181c1f;
  border-color: #181c1f;
}

.logout-btn .btn-sm {
    max-width: 50%;
    padding: 6px;
    padding-right: 20px;
    height: 40px;
    line-height: 30px;
    margin: 4px;
}

.logout-btn .glyphicon {
    font-size:1.4em;
}


.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    width: inherit;
    display: inline;
    padding: 8px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
	cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: lightcoral;
}

.input-file-uploaded, .input-file-uploaded:hover, .inputfile + label.input-file-uploaded:hover {
    cursor: pointer;
    background-color: white;
}
.input-file-uploaded i, .input-file-uploaded i:hover {
    color: green;
}

.input-file-not-uploaded, .input-file-not-uploaded:hover, .inputfile + label.input-file-not-uploaded:hover {
    cursor: pointer;
    background-color: white;
}
.input-file-not-uploaded i, .input-file-not-uploaded i:hover {
    color: red;
}

.input-file-disabled, .input-file-disabled:hover, .inputfile + label.input-file-disabled:hover {
    cursor: not-allowed;
    background-color: ghostwhite;
}
.input-file-disabled i, .input-file-disabled i:hover {
    color: #cccccc;
}

.row-title.yscrolling {
    position: fixed;
    z-index: 1028;
    display: block;
    top: 50px;
    width: 100%;
    left: 0;
    margin: 0;
    background: white;
    background-color: #ffffff;
    
    padding-top: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eeeeee;
}

.yscrolling-next-sibling {
    margin-top: 60px;
}


/* FLEXBOX */

*[flex]{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: auto;
}

.row > [class*='col-'] {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: column;
}

.row-title {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}

.row-title .title {
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
}

.table-left-indicator {
    background: white;
    color: #666;
    font-weight: bold;
    padding: 6px 8px;
    position: absolute;
    top: 8px;
    left: 22px;
    z-index: 9000;
    border: 2px solid #666;
    box-shadow: 0px 0px 8px #666;
    border-radius: 18px;
    opacity: 0;
}

.table-right-indicator {
    background: white;
    color: #666;
    font-weight: bold;
    padding: 6px 8px;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 9000;
    border: 2px solid #666;
    box-shadow: 0px 0px 8px #666;
    border-radius: 18px;
    opacity: 0;
}

.index .row-title .title {
    text-align: left;
}

form .row {
    margin-bottom: 8px;
}

form .row input[type='submit'][type='button'] {
    width: auto;
    max-width: none;
}

form .row.row-submit {
    margin-top: 24px;
}

[layout-align='center'] {
    align-items: center;
}

[layout-align='center center'] {
    align-items: center center;
}

[layout-align='bottom'] {
    align-items: flex-end;
}

[layout-align='center bottom'] {
    align-items: center flex-end;
}

/* MATERIAL CARDS */

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 12px;
  border-radius: 12px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  overflow: hidden;
}

.thumbnail {
  
  padding: 0;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
}

.thumbnail .row > *[class*='col-']{
    overflow-x: hidden;
}

.panel .thumbnail {
  box-shadow: none;
}

.card-image {
    background-color: #eeeeee;
}

.card-image .picture-wrapper {
    height: 256px;
}

.card-image img {
    width: auto;
    height: 100%;
    position: relative;
    left: 50%;
    top: 40%;
    max-height: none;
    transform: translateY(-40%) translateX(-50%);
    -webkit-transform: translateY(-40%) translateX(-50%);
    -moz-transform: translateY(-40%) translateX(-50%);
    -ms-transform: translateY(-40%) translateX(-50%);
}

.card-image .card-quote {
    background-color: #000000;
    color: #eeeeee;
    padding: 8px;
}

.card-image pre {
    margin-bottom: 0px;
    border: none;
    border-radius: 0px;
}

.card-content .section-title {
    padding-bottom: 8px;
    border-bottom: 1px solid #eeeeee;
}

.card-content section {
    margin-bottom: 8px;
    padding: 16px;
}

.card-footer {
    border-top: 1px solid #eeeeee;
    padding: 12px;
}

.panel-collapse {
    background: url(http://www.aiv01.it/images/BGcorsi.jpg) 50% center / cover no-repeat fixed;
    color: silver;
}

.panel-collapse .panel-body {
    background: rgba(255, 255, 255, 0.2);
}

.panel-collapse .card,
.panel-collapse .thumbnail {
    color: #333333;
}

.panel-collapse .card .card-content,
.panel-collapse .thumbnail .card-content,
.panel-collapse .card .card-footer,
.panel-collapse .thumbnail .card-footer {
    padding: 12px;
}

.panel-collapse .card .card-content .btn i,
.panel-collapse .thumbnail .card-content .btn i,
.panel-collapse .card .card-footer .btn i,
.panel-collapse .thumbnail .card-footer .btn i {
    margin-right: 4px;
}

.panel-collapse .card .card-content .btn i.icon-right,
.panel-collapse .thumbnail .card-content .btn i.icon-right,
.panel-collapse .card .card-footer .btn i.icon-right,
.panel-collapse .thumbnail .card-footer .btn i.icon-right {
    margin-left: 4px;
}

.panel-heading a[data-toggle]{
    display: inline-block;
    width: 100%;
}

.panel-heading *[data-toggle].collapsed:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}

.panel-heading *[data-toggle]:after {
    /* symbol for "collapsed" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e113";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}

.panel-group {
    margin-bottom: 20px;
}

/* MEDIA QUERIES */

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
/* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {

        body .navbar.navbar-inverse.navbar-fixed-top > .container {
            background: url(http://www.aiv01.it/images/LogoAIV.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
        }

        .navbar.navbar-inverse.navbar-fixed-top > .container,
        .container.body-content {
            max-width: 100%;
        }

        .card-image img {
            width: auto;
            height: 100%;
            object-fit: cover;
            font-family: 'object-fit: contain;' /* OFI.js */
        }

        .navbar-brand, .username {
            font-size: 10px;
        }

        .row-title  {
            align-items: center;
        }

        .row-title .title {
            font-size: 18px;
        }

        .card {
            margin: 4px;
        }

        .navbar-collapse {
            padding-bottom: 80px;
        }

        body .navbar.navbar-inverse.navbar-fixed-top > .container {
            background: none;
            background-repeat: no-repeat;
            background-size: 20%;
            background-position: 50% 50%;
        }
    }
 
    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

        body .navbar.navbar-inverse.navbar-fixed-top > .container {
            background: url(http://www.aiv01.it/images/LogoAIV.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
        }

        .navbar.navbar-inverse.navbar-fixed-top > .container,
        .container.body-content {
            max-width: 100%;
        }

        .card-image img {
            width: 100%;
            height: auto;
            object-fit: cover;
            font-family: 'object-fit: contain;' /* OFI.js */
        }

        .navbar-brand, .username {
            font-size: 10px;
        }

        .row-title  {
            align-items: center;
        }

        .row-title .title {
            font-size: 18px;
        }

        .navbar-collapse {
            padding-bottom: 80px;
        }

        body .navbar.navbar-inverse.navbar-fixed-top > .container {
            background: url(http://www.aiv01.it/images/LogoAIV.png);
            background-repeat: no-repeat;
            background-size: 20%;
            background-position: 50% 50%;
        }
    }
 
    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

        body .navbar.navbar-inverse.navbar-fixed-top > .container {
            background: url(http://www.aiv01.it/images/LogoAIV.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
        }

        .navbar.navbar-inverse.navbar-fixed-top > .container,
        .container.body-content {
            max-width: 100%;
        }

        .card-image img {
            width: 100%;
            height: auto;
            object-fit: cover;
            font-family: 'object-fit: contain;' /* OFI.js */
        }

        .navbar-brand, .username {
            font-size: 18px;
        }

        .row-title  {
            align-items: center;
        }

        .row-title .title {
            font-size: 18px;
        }

        .navbar-header {
          float: none;
        }
        .navbar-toggle {
          display: block;
        }
        .navbar-collapse.collapse {
          display: none!important;
        }
        .navbar-nav {
          float: none!important;
        }
        .navbar-nav>li {
          float: none;
        }
        .navbar-collapse.collapse.in{
          display:block !important;
        }
        .navbar-collapse {
            max-height: none;
            padding-bottom: 100px;
        }
    }
 
    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

        body .navbar.navbar-inverse.navbar-fixed-top > .container {
            background: url(http://www.aiv01.it/images/LogoAIV.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
        }

        .navbar.navbar-inverse.navbar-fixed-top > .container,
        .container.body-content {
            max-width: 80%;
        }

        .card-image img {
            width: 100%;
            height: auto;
            object-fit: cover;
            font-family: 'object-fit: contain;' /* OFI.js */
        }

        .navbar-brand, .username {
            font-size: 18px;
        }

        .row-title .title {
            font-size: 30px;
        }

        .navbar-header {
          float: none;
        }
        .navbar-toggle {
          display: block;
        }
        .navbar-collapse.collapse {
          display: none!important;
        }
        .navbar-nav {
          float: none!important;
        }
        .navbar-nav>li {
          float: none;
        }
        .navbar-collapse.collapse.in{
          display:block !important;
        }
        .navbar-collapse {
            max-height: none;
        }
     }
 
    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

        body .navbar.navbar-inverse.navbar-fixed-top > .container {
            background: url(http://www.aiv01.it/images/LogoAIV.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
        }

        .navbar.navbar-inverse.navbar-fixed-top > .container,
        .container.body-content {
            max-width: 80%;
        }

        .card-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            font-family: 'object-fit: contain;' /* OFI.js */
        }

        .navbar-brand, .username {
            font-size: 18px;
        }

        .row-title .title {
            font-size: 30px;
        }

        .navbar-header {
          float: none;
        }
        .navbar-toggle {
          display: block;
        }
        .navbar-collapse.collapse {
          display: none!important;
        }
        .navbar-nav {
          float: none!important;
        }
        .navbar-nav>li {
          float: none;
        }
        .navbar-collapse.collapse.in{
          display:block !important;
        }
        .navbar-collapse {
            max-height: none;
        }
     }


    /* Bootstrap burger menu always active: 
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    */


    /* ZOOMING IMAGES */

    .zoom-panel {
        width:100%;
        height: 100%;
        background-color: #000000;
        background: url(http://www.aiv01.it/images/BGcorsi.jpg);
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 9000;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;

        /* properties to be toggled */
        opacity: 0;
        pointer-events: none;
        display: none;
    }

    .image-to-unzoom {
        width:100%;
        height: 100%;
        padding:32px 32px 64px 32px;
        object-fit:scale-down;
        font-family: 'object-fit: contain;' /* OFI.js */
        margin: 8px auto;
        background: rgba(0, 0, 0, 0.3);
    }

    .image-to-unzoom-description {
        width:100%;
        height: auto;
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        bottom:0;
        left:0;
        color: #eeeeee;
    }

