
*{
    outline: 0 !important;
    outline: none !important;
}

.logobg {
    background-image: url(http://www.aiv01.it/images/LogoAIV.png);
    background-size: contain;
    background-repeat: no-repeat;
}

html {
    background: url(http://www.aiv01.it/galleries/10.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

img {
    background-color: #000000;
}

body {
    background: white;
    
    /* 
    BACKGROUND AIV! 
    background: url(http://www.aiv01.it/images/BGcorsi.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    */
}

.nomargin {
    margin: 0 !important;
}

.padding-8 {
    padding: 8px;
}

body.login {
    /*background: url(http://www.aiv01.it/galleries/10.jpg);*/
    background-color: black;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

canvas#starfield {
    display: none;
    overflow:hidden;
}

body.login canvas#starfield {
    display: block;
}

.text-danger.field-validation-error {
    background: rgba(0, 0, 0, 0.8);
    float: right;
    margin-top: 8px;
    padding: 4px;
    border-radius: 8px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 48px;
    overflow: hidden;
    overflow-x: auto;
}

.body-content.login {
    height: 100%;
}

/* LOADING GAMEBOY SCREEN :) */

/* latin */
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323'), local('VT323-Regular'), url('VT323-Regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

#loading-overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1999;
    color: white;
}

#loading-overlay > .row {
    width: 100%;
    margin: 0;
    align-items: center;
    text-align: center;
}

#loading-overlay > .row > *[class*='col-'] {
    align-items: center;
    text-align: center;
}

#loading-overlay.open {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.gameboy {
    position: relative;
    /*background-color: #b9b9c5;                           */
    /*padding: 64px 32px;                                  */
    /*border-radius: 8px;                                  */
    /*-webkit-border-radius: 8px;                          */
    /*-moz-border-radius: 8px;                             */
    /*box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.5);    */
    /*font-family: Courier New, Courier, monospace;        */
}

.gameboy .screen-wrapper {
    position: relative;
    background-color: #5e6a78;
    border: 2px solid #495056;
    border-radius: 8px 8px 72px 8px;
    -webkit-border-radius: 8px 8px 72px 8px;
    -moz-border-radius: 8px 8px 72px 8px;
    padding: 42px 72px;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.gameboy .screen-wrapper .screen-wrapper-header {
    position: absolute;
    width: 100%;
    height: 20px;
    top: 4px;
    left: 0;
    clear: both;
    padding: 8px;
}

.gameboy .screen-wrapper .screen-wrapper-header .spanner,
.gameboy .screen-wrapper .screen-wrapper-header .header-message {
    float: left;
    border-top: 2px solid #584b69;
    border-bottom: 2px solid #2e3246;
}

.gameboy .screen-wrapper .screen-wrapper-header .spanner.left {
    width: 116px;
    margin-top: 5px;
    height: 10px;
}

.gameboy .screen-wrapper .screen-wrapper-header .spanner.right {
    width: 56px;
    margin-top: 5px;
    height: 10px;
}

.gameboy .screen-wrapper .screen-wrapper-header .header-message {
    padding: 0 4px;
    border: none;
    font-family: monospace;
    font-weight: bold;
    color: #838b98;
}

.gameboy .screen-wrapper .battery-led {
    position: absolute;
    width:12px;
    height:12px;
    top:148px;
    left:20px;
    background-color: #ffff9c;
    z-index: 2000;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    
    box-shadow: 0 0 10px #ff5a67 , 0 0 20px #ff5a67 , 0 0 30px #ff5a67 , 0 0 40px #ff5a67 , 0 0 70px #ff5a67 , 0 0 80px #ff5a67 , 0 0 160px #ff5a67 ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);

    overflow: visible;
}

.gameboy .screen-wrapper .battery-led label {
    margin-top: 20px;
    margin-left: -10px;
    font-family: monospace;
    font-weight: bold;
    color: #838b98;
}

.gameboy .screen-wrapper .screen {
    background-color: #798602;
    width: 288px;
    height: 320px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    box-shadow: inset 0px 0px 16px #333;
}

.gameboy .loading-message {
    position: absolute;
    width: 100%;
    bottom: 2px;
    left: 0;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    font-family: VT323;
}

.gameboy .loading-message .hidden {
    display: none;
}

/* END --- LOADING GAMEBOY SCREEN :) DAJEEEE */

.table-actions {
    min-width : 138px;
}

.table thead > tr > th, 
.table tbody > tr > th, 
.table tfoot > tr > th, 
.table thead > tr > td, 
.table tbody > tr > td, 
.table tfoot > tr > td {
    vertical-align: middle;
}

.validation-summary-errors {
    text-align: right;
    border-radius: 16px;
    margin-bottom: 8px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.8);
}

.validation-summary-errors ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.login-panel {
    padding: 32px;
    border: none;
    background: none;
    background-color: transparent;
    border-radius: 22px;
    margin-left: 16px;
    color: white;
    max-width: 560px;
}

.login-panel hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-panel h2, 
.login-panel h4, 
.login-panel label {
    text-shadow: 0px 0px 8px #000;
    font-weight: 200 !important;
}

.login-panel input, 
.login-panel hr {
    box-shadow: 0px 0px 8px #111;
}

.body-content.login > .row {
    height: 100%;
    align-items: center;
}

.margin-right-10{
    margin-right: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}*/

hr {
    margin-top: 10px;
}

footer {
    margin-top: 16px;
}

a:hover {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.middle {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

.title-margin {
    margin-top: 20px;
    margin-bottom: 10px;
}

.icon-right {
    margin-left: 10px;
}

.icon-left {
    margin-right: 4px;
}

.picture-wrapper {
    overflow: hidden;
    align-items: center;
    background: #000000;
}

.picture-wrapper > img {
    height: 100%;
    max-height: 256px;
}

.logo-wrapper > img {
    height: 100%;
    max-height: 100%;
}

.picture-wrapper > img:hover {
    cursor: pointer;
}


button.btn-primary > * {
    color: #ffffff;
}

button a {
    color: inherit;
}

.action-button {
    margin: 2px;
}

.checkbox .bootstrap-switch.bootstrap-switch-disabled,
.checkbox .bootstrap-switch.bootstrap-switch-disabled *,
.checkbox .bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-off, 
.checkbox .bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-on, 
.checkbox .bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-label, 
.checkbox .bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-off, 
.checkbox .bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-on, 
.checkbox .bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-label, 
.checkbox .bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-off, 
.checkbox .bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-on, 
.checkbox .bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-label {
    cursor: not-allowed !important;
}

.login .navbar {
    opacity: 0.6;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.navbar,
.navbar:hover,
.navbar:focus {
    opacity: 1;
}

.navbar navbar-inverse navbar-fixed-top > .container,
.container.body-content {
    max-width: 80%;
}

.navbar, .navbar-collapse {
    background: url(http://www.aiv01.it/images/BGcorsi.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50%;
    background-size: cover;
}

.navbar-collapse {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    position: fixed;
    right: 0px;
    top: 46px;
    z-index: 1029;
    border-top: 0px;
    padding:20px;
    box-shadow: none;
}

.navbar-toggle {
    margin-right: 0px;
}

.profile-navbar-section {
    margin-left: 0 !important;
    height: 50px;
    min-height: 50px;
    min-width:18%;
    background: rgba(255, 255, 255, 0.3);
    overflow-x: hidden;
    overflow-y: hidden;
}

.profile-navbar-section .row {
    padding: 0;
    margin: 0;
    height:100%;
}

.profile-navbar-section *[class*='col-']  {
    padding: 0;
    margin: 0;
}

.fill-height {
    height: 100%;
}

.profile-navbar-section .username  {
    color: #eeeeee;
    padding-right: 8px;
    padding-left: 8px;
}

.profile-navbar-avatar img,
img.table-list-avatar {
    height: 40px;
    width: 40px;
    border-radius: 22px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    margin:4px;
    border: 1px solid lightslategray;
    object-fit: contain;
    font-family: 'object-fit: contain'; /* OFI.js */
}

img.table-list-avatar.small {
    margin: 4px 0px;
    box-shadow: none;
}

.profile-navbar-avatar.logout-btn img{
    height: 24px;
    width: 24px;
    border-radius: 20px;
}

body .navbar-inverse .navbar-nav > .active > a, 
body .navbar-inverse .navbar-nav a:hover, 
body .navbar-inverse .navbar-nav a:focus {
    background: none !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

body .navbar-inverse .navbar-nav a {
    padding: 8px;
}

body .navbar.navbar-inverse.navbar-fixed-top > .container {
    background: url(http://www.aiv01.it/images/LogoAIV.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

body .navbar .navbar-header {
    padding-left: 8px;
    padding-right: 8px;
}

body .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #eeeeee;
}

body .navbar .navbar-nav {
    padding: 10%;
}

.btn-default.text-primary, 
.btn-default.text-primary * {
    color: #428bca;
}

.btn-default.text-danger, 
.btn-default.text-danger * {
    color: #b94a48;
}

.btn-round-lg{
    border-radius: 22.5px;
}
.btn-round{
    border-radius: 17px;
}
.btn-round-sm{
    border-radius: 15px;
}
.btn-round-xs{
    border-radius: 11px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-dark {
  background-color: #181c1f;
  border-color: #181c1f;
  color: #dddddd;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active {
  background-color: #0d0f11;
  border-color: #020202;
  color: #eeeeee;
}
.btn-dark.disabled:hover,
.btn-dark.disabled:focus,
.btn-dark.disabled:active,
.btn-dark.disabled.active,
.btn-dark[disabled]:hover,
.btn-dark[disabled]:focus,
.btn-dark[disabled]:active,
.btn-dark[disabled].active,
fieldset[disabled] .btn-dark:hover,
fieldset[disabled] .btn-dark:focus,
fieldset[disabled] .btn-dark:active,
fieldset[disabled] .btn-dark.active {
  background-color: #181c1f;
  border-color: #181c1f;
}

.logout-btn .btn-sm {
    max-width: 50%;
    padding: 6px;
    padding-right: 20px;
    height: 40px;
    line-height: 30px;
    margin: 4px;
}

.logout-btn .glyphicon {
    font-size:1.4em;
}


.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    width: inherit;
    display: inline;
    padding: 8px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
	cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: lightcoral;
}

.input-file-uploaded, .input-file-uploaded:hover, .inputfile + label.input-file-uploaded:hover {
    cursor: pointer;
    background-color: white;
}
.input-file-uploaded i, .input-file-uploaded i:hover {
    color: green;
}

.input-file-not-uploaded, .input-file-not-uploaded:hover, .inputfile + label.input-file-not-uploaded:hover {
    cursor: pointer;
    background-color: white;
}
.input-file-not-uploaded i, .input-file-not-uploaded i:hover {
    color: red;
}

.input-file-disabled, .input-file-disabled:hover, .inputfile + label.input-file-disabled:hover {
    cursor: not-allowed;
    background-color: ghostwhite;
}
.input-file-disabled i, .input-file-disabled i:hover {
    color: #cccccc;
}

.row-title.yscrolling {
    position: fixed;
    z-index: 1028;
    display: block;
    top: 50px;
    width: 100%;
    left: 0;
    margin: 0;
    background: white;
    background-color: #ffffff;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.5);
    
    padding-top: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eeeeee;
}

.yscrolling-next-sibling {
    margin-top: 60px;
}


/* FLEXBOX */

*[flex]{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row > [class*='col-'] {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: column;
}

.row > .col-xs-12:not(:last-child),
.row > .col-sm-12:not(:last-child),
.row > .col-md-12:not(:last-child) {
    margin-bottom: 8px;
}

.thumbnail .row > .col-xs-12:not(:last-child),
.thumbnail .row > .col-sm-12:not(:last-child),
.thumbnail .row > .col-md-12:not(:last-child)  {
    margin-bottom: 0;
}

.row-title {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}

.row-title .title {
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
}

.table-left-indicator {
    background: white;
    color: #666;
    font-weight: bold;
    padding: 6px 8px;
    position: absolute;
    top: 8px;
    left: 22px;
    z-index: 9000;
    border: 2px solid #666;
    box-shadow: 0px 0px 8px #666;
    border-radius: 18px;
    opacity: 0;
}

.table-right-indicator {
    background: white;
    color: #666;
    font-weight: bold;
    padding: 6px 8px;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 9000;
    border: 2px solid #666;
    box-shadow: 0px 0px 8px #666;
    border-radius: 18px;
    opacity: 0;
}

.index .row-title .title {
    text-align: left;
}

form .row {
    margin-bottom: 8px;
}

form .row input[type='submit'][type='button'] {
    width: auto;
    max-width: none;
}

form .row.row-submit {
    margin-top: 24px;
}

[layout-align='start'], [layout-align='start start']{
    align-items: flex-start;
}

[layout-align='end'], [layout-align='end end']{
    align-items: flex-end;
}

[layout-align='center'], [layout-align='center center'] {
    align-items: center;
}

[layout-align='start end']{
    align-items: flex-start flex-end;
}

[layout-align='end start']{
    align-items: flex-end flex-start;
}

[layout-align='center center'] {
    align-items: center center;
}

[layout-align='bottom'] {
    align-items: flex-end;
}

[layout-align='center bottom'] {
    align-items: center flex-end;
}

/* MATERIAL CARDS */

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 12px;
  border-radius: 12px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  overflow: hidden;
}

.thumbnail {
  
  padding: 0;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
}

.thumbnail[flex] {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    min-height: 100%;
    flex-direction: column;
}

.thumbnail[flex] .card-content {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction:column;
    flex-grow: 1;
    flex: 1;
}

.thumbnail[flex] .card-content .row[flex] {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex: 1;
}

.thumbnail .row > *[class*='col-']{
    overflow-x: hidden;
}

.panel .thumbnail {
  box-shadow: none;
}

.card-image {
    background-color: #eeeeee;
}

.card-image .picture-wrapper {
    height: 256px;
}

.card-image img {
    width: auto;
    height: 100%;
    position: relative;
    left: 50%;
    top: 40%;
    max-height: none;
    transform: translateY(-40%) translateX(-50%);
    -webkit-transform: translateY(-40%) translateX(-50%);
    -moz-transform: translateY(-40%) translateX(-50%);
    -ms-transform: translateY(-40%) translateX(-50%);
}

.card-image .card-quote {
    background-color: #000000;
    color: #eeeeee;
    padding: 8px;
}

.card-image .card-quote.lesson-follow-alert.followed {
    color: #ffffff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.card-image .card-quote.lesson-follow-alert.followed *{
    color: #ffffff;
}

.card-image .card-quote.lesson-follow-alert.not-followed {
    color: #ffffff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.card-image .card-quote.lesson-follow-alert.not-followed *{
    color: #ffffff;
}


.card-image pre {
    margin-bottom: 0px;
    border: none;
    border-radius: 0px;
}

.card-content .section-title {
    padding-bottom: 8px;
    border-bottom: 1px solid #eeeeee;
}

.card-content section {
    margin-bottom: 8px;
    padding: 16px;
}

.card-footer {
    border-top: 1px solid #eeeeee;
    padding: 12px;
}

input.image-checkbox[type=checkbox] {
    display:none;
}
input.image-checkbox[type=checkbox] ~ label
{
    position:relative;
    background-size:100%;
    height: 64px;
    width: 64px;
    border-radius: 32px;
    display:inline-block;
    padding: 0 0 0 0px;
}
input.image-checkbox[type=checkbox]:checked ~ label:after
{
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: '\e013';
    color: aquamarine;
    position:absolute;
    background: rgba(0, 0, 0, 0.3);
    height: 64px;
    width: 64px;
    border-radius: 32px;
    padding-left: 20px;
    padding-top: 12px;
    font-size: 24px;
}
.image-checkbox-description {

}



label.dillo-a-luca {
    padding: 0px;
    padding-right: 8px;
}

label.dillo-a-luca .avatar {
    width: 48px;
    max-width: 48px;
    min-width: 48px;
}

.activable-group .activable-label.active{
    color: #ffffff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.row.row-title form.filters {
    margin-top: 8px !important;
}

form.filters {
    /*
    border: 1px solid #cccccc;
    background-color: #eeeeee;
    padding: 16px;
    margin-bottom: 8px;
    border-radius: 12px;
    */
}

form.filters > .row{
    margin-bottom: 0px;
}

.panel-collapse {
    background: url(http://www.aiv01.it/images/BGcorsi.jpg) 50% center / cover no-repeat fixed;
    color: silver;
}

.panel-collapse .panel-body {
    background: rgba(255, 255, 255, 0.2);
    overflow-x: hidden;
    margin-right: -2px;
    padding: 0 15px 0 15px;
}

.panel-collapse .panel-body > .row {
    min-width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.panel-collapse .panel-body .thumbnail .card-content > .row {
    overflow-y: auto;
    overflow-x: hidden;
}

.panel-collapse .panel-body .thumbnail .card-content > .row > *[class*='col-'] {
    overflow-y: hidden;
}

.panel-collapse .card,
.panel-collapse .thumbnail {
    color: #333333;
}

.panel-collapse .card .card-content,
.panel-collapse .thumbnail .card-content,
.panel-collapse .card .card-footer,
.panel-collapse .thumbnail .card-footer {
    padding: 12px;
}

.panel-collapse .card .card-content .btn i,
.panel-collapse .thumbnail .card-content .btn i,
.panel-collapse .card .card-footer .btn i,
.panel-collapse .thumbnail .card-footer .btn i {
    margin-right: 4px;
}

.panel-collapse .card .card-content .btn i.icon-right,
.panel-collapse .thumbnail .card-content .btn i.icon-right,
.panel-collapse .card .card-footer .btn i.icon-right,
.panel-collapse .thumbnail .card-footer .btn i.icon-right {
    margin-left: 4px;
}

.panel-heading a[data-toggle]{
    display: inline-block;
    width: 100%;
}

.panel-heading *[data-toggle].collapsed:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}

.panel-heading *[data-toggle]:after {
    /* symbol for "collapsed" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e113";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}

.panel-filters .panel-heading *[data-toggle]:after{
    content:"\e138";
}

.panel-filters .panel-body {
    background: rgba(255, 255, 255, 0.3);
}

.panel-group {
    margin-bottom: 20px;
}

/* MEDIA QUERIES */

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
/* From zero to zero :D */ 
    @media only screen and (min-width : 0px) {

        .navbar-brand {
            display: none;
        }

        body .navbar.navbar-inverse.navbar-fixed-top > .container {
            background: url(http://www.aiv01.it/images/LogoAIV.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
        }

        .navbar.navbar-inverse.navbar-fixed-top > .container,
        .container.body-content {
            max-width: 100%;
        }

        .card-image img {
            width: auto;
            height: 100%;
            object-fit: contain;
            font-family: 'object-fit: contain'; /* OFI.js */
        }

        .navbar-brand, .username {
            font-size: 10px;
        }

        .row-title  {
            align-items: center;
        }

        .row-title .title {
            font-size: 18px;
        }

        .card {
            margin: 4px;
        }

        .navbar-collapse {
            padding-bottom: 80px;
        }

        body .navbar.navbar-inverse.navbar-fixed-top > .container {
            background: none;
            background-repeat: no-repeat;
            background-size: 20%;
            background-position: 50% 50%;
        }
    }


/* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {

        body .navbar.navbar-inverse.navbar-fixed-top > .container {
            background: url(http://www.aiv01.it/images/LogoAIV.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
        }

        .navbar.navbar-inverse.navbar-fixed-top > .container,
        .container.body-content {
            max-width: 100%;
        }

        .card-image img {
            width: auto;
            height: 100%;
            object-fit: contain;
            font-family: 'object-fit: contain'; /* OFI.js */
        }

        .navbar-brand, .username {
            font-size: 10px;
        }

        .row-title  {
            align-items: center;
        }

        .row-title .title {
            font-size: 18px;
        }

        .card {
            margin: 4px;
        }

        .navbar-collapse {
            padding-bottom: 80px;
        }

        body .navbar.navbar-inverse.navbar-fixed-top > .container {
            background: none;
            background-repeat: no-repeat;
            background-size: 20%;
            background-position: 50% 50%;
        }
    }
 
    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

        body .navbar.navbar-inverse.navbar-fixed-top > .container {
            background: url(http://www.aiv01.it/images/LogoAIV.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
        }

        .navbar.navbar-inverse.navbar-fixed-top > .container,
        .container.body-content {
            max-width: 100%;
        }

        .card-image img {
            width: 100%;
            height: auto;
            object-fit: contain;
            font-family: 'object-fit: contain'; /* OFI.js */
        }

        .navbar-brand, .username {
            font-size: 10px;
        }

        .row-title  {
            align-items: center;
        }

        .row-title .title {
            font-size: 18px;
        }

        .navbar-collapse {
            padding-bottom: 80px;
        }

        body .navbar.navbar-inverse.navbar-fixed-top > .container {
            background: url(http://www.aiv01.it/images/LogoAIV.png);
            background-repeat: no-repeat;
            background-size: 20%;
            background-position: 50% 50%;
        }
    }
 
    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

        body .navbar.navbar-inverse.navbar-fixed-top > .container {
            background: url(http://www.aiv01.it/images/LogoAIV.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
        }

        .navbar.navbar-inverse.navbar-fixed-top > .container,
        .container.body-content {
            max-width: 100%;
        }

        .card-image img {
            width: 100%;
            height: auto;
            object-fit: contain;
            font-family: 'object-fit: contain'; /* OFI.js */
        }

        .navbar-brand, .username {
            font-size: 18px;
        }

        .row-title  {
            align-items: center;
        }

        .row-title .title {
            font-size: 18px;
        }

        .navbar-header {
          float: none;
        }
        .navbar-toggle {
          display: block;
        }
        .navbar-collapse.collapse {
          display: none!important;
        }
        .navbar-nav {
          float: none!important;
        }
        .navbar-nav>li {
          float: none;
        }
        .navbar-collapse.collapse.in{
          display:block !important;
        }
        .navbar-collapse {
            max-height: none;
            padding-bottom: 100px;
        }
    }
 
    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

        body .navbar.navbar-inverse.navbar-fixed-top > .container {
            background: url(http://www.aiv01.it/images/LogoAIV.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
        }

        .navbar.navbar-inverse.navbar-fixed-top > .container,
        .container.body-content {
            max-width: 80%;
        }

        .card-image img {
            width: 100%;
            height: auto;
            object-fit: contain;
            font-family: 'object-fit: contain'; /* OFI.js */
        }

        .navbar-brand, .username {
            font-size: 18px;
        }

        .row-title .title {
            font-size: 30px;
        }

        .navbar-header {
          float: none;
        }
        .navbar-toggle {
          display: block;
        }
        .navbar-collapse.collapse {
          display: none!important;
        }
        .navbar-nav {
          float: none!important;
        }
        .navbar-nav>li {
          float: none;
        }
        .navbar-collapse.collapse.in{
          display:block !important;
        }
        .navbar-collapse {
            max-height: none;
        }
     }
 
    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

        body .navbar.navbar-inverse.navbar-fixed-top > .container {
            background: url(http://www.aiv01.it/images/LogoAIV.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
        }

        .navbar.navbar-inverse.navbar-fixed-top > .container,
        .container.body-content {
            max-width: 80%;
        }

        .card-image img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            font-family: 'object-fit: contain'; /* OFI.js */
        }

        .navbar-brand, .username {
            font-size: 18px;
        }

        .row-title .title {
            font-size: 30px;
        }

        .navbar-header {
          float: none;
        }
        .navbar-toggle {
          display: block;
        }
        .navbar-collapse.collapse {
          display: none!important;
        }
        .navbar-nav {
          float: none!important;
        }
        .navbar-nav>li {
          float: none;
        }
        .navbar-collapse.collapse.in{
          display:block !important;
        }
        .navbar-collapse {
            max-height: none;
        }
     }


    /* Bootstrap burger menu always active: 
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    */


    /* ZOOMING IMAGES */

    .zoom-panel {
        width:100%;
        height: 100%;
        background-color: #000000;
        background: url(http://www.aiv01.it/images/BGcorsi.jpg);
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 9000;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;

        /* properties to be toggled */
        opacity: 0;
        pointer-events: none;
        display: none;
    }

    .image-to-unzoom {
        width:100%;
        height: 100%;
        padding:32px 32px 64px 32px;
        object-fit: contain;
        font-family: 'object-fit: contain'; /* OFI.js */
        margin: 8px auto;
        background: rgba(0, 0, 0, 0.3);
    }

    .image-to-unzoom-description {
        width:100%;
        height: auto;
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        bottom:0;
        left:0;
        color: #eeeeee;
    }

